<!--The content below is only a placeholder and can be replaced.-->
<div class="">
  <div class="card cadre d-flex justify-content-center align-items-center">
    <div class="container">
      <div *ngIf="!round.winner" class="row">
        <div class="col-sm">
          <H3 style="color: blue"> Player 1</H3>
          <div class="row">
            <span>How much do you take ?</span>
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm" (click)="performAction(1,'Joueur 1')">1</button>
              <button type="button" class="btn btn-primary btn-sm" (click)="performAction(2,'Joueur 1')">2</button>
              <button type="button" class="btn btn-primary btn-sm" (click)="performAction(3,'Joueur 1')">3</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <div class="align-content-center" *ngFor="let item of items">
              <span class="allumetteImage"></span>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="col-sm">
            <H3 style="color: red"> Player 2</H3>
            <div class="row">
              <span>How much do you take ?</span>
              <div class="btn-group">
                <button type="button" class="btn btn-danger btn-sm" (click)="performAction(1,'Joueur 2')">1</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="performAction(2,'Joueur 2')">2</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="performAction(3,'Joueur 2')">3</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="round.winner" class="alert">
        <h2>Winner : {{round.winner}} </h2>
        <H3>{{round.startTime | date: 'hh:mm:ss'}}</H3>
        <H3>{{round.endDate | date: 'hh:mm:ss'}}</H3>
        <button type="button" class="btn btn-light btn-sm" (click)="resetGame()">Reset Game</button>
      </div>
    </div>
  </div>
</div>

